*{
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between; /* left + right */
    align-items: center;
    padding: 10px 20px;
}


.logo img {
    width: 50px;
}


.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
.menu a{
    text-decoration: none;
    color: black;
}
.btn-primary{
    background-color: #0976a7;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 14px;
}

/* main */

main{
    display: flex;
}
.bio img {
    width: 50px;
    border-radius: 30px;
    margin-right: 10px;
}
.bio{
    background-color: #0976a7;
    color: white;
    width: 40%;
    padding-top: 200px;
    padding-left: 40px;
    padding-right: 30px;
    font-size: large;
}
.mendela{
    display: flex;
    margin-top: 20px;
}
.log-in{
    padding: 30px 90px;
}
.title{
    text-align: center;
}
.s-red{
    color: #e90606;
}
.social-btn{
    background-color: white;
    border: 1px solid rgb(223, 209, 209);
    padding: 10px 30px;
    margin-top: 13px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.social-btn img {
    width: 25px;
}
.linr{
    display: flex;
    align-items: center;
}
.info{
    width: 100%;
    padding: 15px 10px;
    padding-left: 15px;
    background-color: #eff1f3;
    margin-bottom: 15px;
}
.forget {
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.sign-btn{
    background-color: #e90606;
    width: 100%;
    border: none;
    color: white;
    font-weight: bold;
    padding: 15px 10px;
    margin: 15px 10px;
}
.contact{
    text-align: center;
    margin: 10px;
}
